*{
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(194, 240, 240);
}

#banniere {
    width: 1900px;
    height: auto;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Trebuchet MS";
    background-color: aquamarine;
}

img {
    height: 600px;
    width: auto;
}

.liste_ingredients {
    background-color: rgb(214, 214, 194);
}

.highlight{
    background-color: rgb(255, 191, 0);
}
